@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Marvel:wght@700&display=swap');

* {
    margin    : 0;
    padding   : 0;
    border    : 0;
    box-sizing: border-box;
}

.cabecalhohome{
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link_cadastro{
    color: #FFFFFF;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
}

.container_tipos_perfil{
    height: 135vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../img/fundo-banner-home.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo_perfis{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 60px;
    color: #FFFFFF;
}

.box_conteudo{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.box-alinhamento{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box-conteudo-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-conteudo-principal h2{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 50px;
    color: #FFFFFF;
}

.box-conteudo-principal p{
    width: 314px;
    height: 240px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    font-family: 'Marvel', sans-serif;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
}

.linha1{
    width: 40%;
    border-top: 4px solid black;
}

.linha2{
    width: 40%;
    border-top: 4px solid black;
}

.divisao{
    display: flex;
    justify-content: space-between;
}

.banner_info_site{
    /* width: 98vw; */
    height: 25vh;
    display: flex;
    background-image: url(../img/banner-coracao.png);
    background-size: cover;
    background-repeat: no-repeat;
    justify-content:space-around;
    align-items: center;
}

.info_site{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.foco_secundario{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
}

.foco_principal{
    font-size: 30px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #FFFFFF;
}