@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Marvel:wght@700&display=swap');

.fundo-produtos{
    background-color: #E5E5E5;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.produto-solo img{
    width: 182px;
    height: 182px;
}

.alimentos{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 129vh;
    background: white;
    justify-content: space-evenly;
    align-items: center;
}

.produto-solo{
    width: 80%;
    justify-content: space-evenly;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid black;
}

.info_produto{
    display: flex;
    flex-direction: column;
    width: 30%;
}

.info_produto span{
    font-size: 20px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
}

.finalidade{
    font-size: 30px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
    color: black;
}

.titulo-area{
    font-size: 45px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: bold;
}